Repository GiantCroissant-Lunar/sango-card, changes with the owners that CODEOWNERS names for each.
All owners: @lunar-horse-docs-maintainers, @lunar-horse-agent-maintainers, @lunar-horse-build-maintainers, @lunar-horse-security-team

CODEOWNERS:

# CODEOWNERS - Require review for sensitive changes
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Documentation system (R-DOC-xxx)
# All documentation changes require review to prevent sprawl
/docs/**                         @lunar-horse-docs-maintainers
/.agent/base/40-documentation.md @lunar-horse-docs-maintainers
/scripts/docs_validate.py        @lunar-horse-docs-maintainers
/.github/workflows/docs-guard.yml @lunar-horse-docs-maintainers

# Agent rules and configuration
# Changes to agent behavior require careful review
/.agent/base/                    @lunar-horse-agent-maintainers
/.agent/adapters/                @lunar-horse-agent-maintainers
/.specify/memory/constitution.md @lunar-horse-agent-maintainers

# Build system
# Build changes affect all developers
/build/nuke/                     @lunar-horse-build-maintainers
/Taskfile.yml                    @lunar-horse-build-maintainers
/.github/workflows/              @lunar-horse-build-maintainers

# Security and secrets
# Require security team review for sensitive configurations
/infra/terraform/                @lunar-horse-security-team
/.sops.yaml                      @lunar-horse-security-team
/.pre-commit-config.yaml         @lunar-horse-security-team

# Note: Teams above are examples. Replace with actual GitHub team names:
# @owner/docs-team
# @owner/security-team
# etc.

feat(build): Add report build component to NUKE
  build/nuke/.nuke/temp/build-attempt.log
  build/nuke/.nuke/temp/build.2025-10-16_21-18-56.log
  build/nuke/.nuke/temp/build.2025-10-16_21-26-10.log
  build/nuke/.nuke/temp/build.2025-10-16_21-32-55.log
  build/nuke/.nuke/temp/build.2025-10-16_21-33-31.log
  build/nuke/.nuke/temp/build.2025-10-16_21-34-08.log
  build/nuke/.nuke/temp/build.log
  build/nuke/build/Build.ReportBuild.cs
  build/nuke/build/Build.UnityBuild.cs
  build/nuke/build/Build.cs
  build/nuke/build/Components/IReportBuild.cs
  build/nuke/build/_build.csproj
  docs/_inbox/report-build-component.md
Owners: @lunar-horse-build-maintainers, @lunar-horse-docs-maintainers

feat(dotnet): Add reporting library solution
  docs/_inbox/dotnet-rename-summary.md
  docs/_inbox/report-location.md
  docs/_inbox/report-project-summary.md
  docs/_inbox/report-usage-examples.md
  dotnet/SangoCard.sln
  dotnet/report/.gitignore
  dotnet/report/Directory.Build.props
  dotnet/report/README.md
  dotnet/report/Reporting.Abstractions/Attributes/ReportAttributes.cs
  dotnet/report/Reporting.Abstractions/IReportDataProvider.cs
  dotnet/report/Reporting.Abstractions/IReportEngine.cs
  dotnet/report/Reporting.Abstractions/PreparedModel.cs
  dotnet/report/Reporting.Abstractions/README.md
  dotnet/report/Reporting.Abstractions/ReportFormat.cs
  dotnet/report/Reporting.Abstractions/ReportMetadata.cs
  dotnet/report/Reporting.Abstractions/ReportOptions.cs
  dotnet/report/Reporting.Abstractions/ReportResult.cs
  dotnet/report/Reporting.Abstractions/Reporting.Abstractions.csproj
  dotnet/report/Reporting.Cli/Program.cs
  dotnet/report/Reporting.Cli/Reporting.Cli.csproj
  dotnet/report/Reporting.Core/README.md
  dotnet/report/Reporting.Core/Renderers/JsonRenderer.cs
  dotnet/report/Reporting.Core/Renderers/MarkdownRenderer.cs
  dotnet/report/Reporting.Core/Renderers/XmlRenderer.cs
  dotnet/report/Reporting.Core/Renderers/YamlRenderer.cs
  dotnet/report/Reporting.Core/Reporting.Core.csproj
  dotnet/report/Reporting.Core/SimpleReportEngine.cs
  dotnet/report/SangoCard.sln
  dotnet/report/tests/Reporting.Abstractions.Tests/ReportAttributesTests.cs
  dotnet/report/tests/Reporting.Abstractions.Tests/ReportMetadataTests.cs
  dotnet/report/tests/Reporting.Abstractions.Tests/ReportModelsTests.cs
  dotnet/report/tests/Reporting.Abstractions.Tests/Reporting.Abstractions.Tests.csproj
  dotnet/report/tests/Reporting.Core.Tests/MarkdownRendererTests.cs
  dotnet/report/tests/Reporting.Core.Tests/RenderersTests.cs
  dotnet/report/tests/Reporting.Core.Tests/Reporting.Core.Tests.csproj
  dotnet/report/tests/Reporting.Core.Tests/SimpleReportEngineTests.cs
Owners: @lunar-horse-docs-maintainers

chore(infra): Update infrastructure configuration
  infra/README.md
  infra/ansible/README.md
  infra/ansible/group_vars/all.yml
  infra/ansible/playbook.yml
  infra/ansible/roles/build_tools/tasks/main.yml
  infra/ansible/roles/common/tasks/main.yml
  infra/ansible/roles/dotnet/tasks/main.yml
  infra/ansible/roles/git/tasks/main.yml
  infra/ansible/roles/nodejs/tasks/main.yml
  infra/ansible/roles/python/tasks/main.yml
  infra/ansible/roles/unity/tasks/main.yml
  infra/ansible/setup.ps1
  infra/ansible/setup.sh
  infra/terraform/github/README.md
  infra/terraform/github/terraform.tfvars.example
Owners: @lunar-horse-security-team

feat(build): Add build preparation configuration files
  .pre-commit-config.yaml
  build/preparation/configs/injection.json
  build/preparation/configs/preparation.json
Owners: @lunar-horse-security-team

fix: Make PreparationConfig accessible to dry-run report
  build/nuke/build/Build.Preparation.cs
  build/nuke/build/Components/IReportBuild.cs
Owners: @lunar-horse-build-maintainers

fix: Add code patches preview to dry-run report
  .gitleaks.toml
  build/nuke/build/Components/IReportBuild.cs
  git-hooks/dotnet/inspectcode.sh
  git-hooks/dotnet/roslynator.sh
Owners: @lunar-horse-build-maintainers

feat(task): Add direct JetBrains InspectCode task
  Taskfile.yml
Owners: @lunar-horse-build-maintainers

fix: resolve InspectCode warnings in reporting library
  build/nuke/build/Build.Preparation.cs
  dotnet/report/Reporting.Abstractions/IReportEngine.cs
  dotnet/report/Reporting.Core/Renderers/XmlRenderer.cs
  dotnet/report/Reporting.Core/SimpleReportEngine.cs
  dotnet/report/tests/Reporting.Abstractions.Tests/ReportAttributesTests.cs
  dotnet/report/tests/Reporting.Abstractions.Tests/ReportMetadataTests.cs
  dotnet/report/tests/Reporting.Abstractions.Tests/ReportModelsTests.cs
  dotnet/report/tests/Reporting.Core.Tests/MarkdownRendererTests.cs
  dotnet/report/tests/Reporting.Core.Tests/SimpleReportEngineTests.cs
Owners: @lunar-horse-build-maintainers

docs(git-hooks): document .NET code quality hooks
  git-hooks/README.md
  git-hooks/dotnet/dotnet-format.sh
Owners: none

feat(build): add config validation component and JSON schemas
  build/nuke/build/Build.ConfigBuild.cs
  build/nuke/build/Components/IConfigBuild.cs
  build/nuke/build/Schemas/injection.schema.json
  build/nuke/build/Schemas/preparation.schema.json
  build/nuke/scripts/build-prepare.ps1
  scripts/fix-preparation-config.ps1
Owners: @lunar-horse-build-maintainers

refactor(build): use IReportBuild.RepoRoot for consistent path resolution
  build/nuke/build/Build.UnityBuild.cs
Owners: @lunar-horse-build-maintainers

feat(build-tool): implement Roslyn-based code patching
  .specify/status/handovers/2025-01-18-roslyn-code-patches.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/CacheCommandHandler.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/CSharpPatcher.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/CacheService.cs
Owners: none

chore(build): remove build logs from source control
  build/nuke/.nuke/.gitignore
  build/nuke/.nuke/temp/build-attempt.log
  build/nuke/.nuke/temp/build.log
Owners: @lunar-horse-build-maintainers

docs: organize injection implementation summary
  .pre-commit-config.yaml
  docs/_inbox/injection-implementation-summary.md
Owners: @lunar-horse-security-team, @lunar-horse-docs-maintainers

feat(build-tool): add hash-tolerant package matching and JSON patching
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/PrepareCommandHandler.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/JsonPatcher.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/PreparationService.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/ValidationService.cs
Owners: none

refactor(config): update preparation configs with bracket notation
  build/preparation/configs/DESIGN.md
  build/preparation/configs/README.md
  build/preparation/configs/injection.json
  build/preparation/configs/preparation.json
Owners: none

build: update task definitions and build schemas
  .nuke/build.schema.json
  Taskfile.yml
  build/nuke/.nuke/build.schema.json
  build/nuke/build/Components/IReportBuild.cs
Owners: @lunar-horse-build-maintainers

infra: update ansible configuration
  infra/ansible/group_vars/all.yml
Owners: none

chore: add preparation cache utility scripts
  scripts/cleanup-preparation-cache.ps1
  scripts/verify-preparation-cache.ps1
Owners: none

feat(build): add explicit failure handling with AssuredAfterFailure
  build/nuke/build/Build.Preparation.cs
  build/nuke/build/Build.TestBuild.cs
  build/nuke/build/Components/ITestBuild.cs
Owners: @lunar-horse-build-maintainers

docs: add Nuke failure handling implementation guide
  docs/_inbox/nuke-failure-handling.md
Owners: @lunar-horse-docs-maintainers

refactor(build): split tests into pre-build and post-build phases
  build/nuke/build/Build.TestBuild.cs
  build/nuke/build/Components/ITestBuild.cs
  docs/_inbox/nuke-failure-handling.md
Owners: @lunar-horse-build-maintainers, @lunar-horse-docs-maintainers

feat(build): add client:reset task for manual cleanup
  Taskfile.yml
Owners: @lunar-horse-build-maintainers

feat(build): add platform-specific Unity build targets
  build/nuke/build/Components/IUnityBuild.cs
Owners: @lunar-horse-build-maintainers

docs: add multi-stage injection system design specification
  docs/_inbox/multi-stage-injection-design.md
Owners: @lunar-horse-docs-maintainers

feat(build): implement multi-stage injection system (Phase 2)
  Taskfile.yml
  build/nuke/.nuke/build.schema.json
  build/nuke/build/Build.Preparation.cs
  build/preparation/configs/multi-stage-preparation.json
  build/preparation/configs/multi-stage-schema.json
  docs/_inbox/multi-stage-injection-implementation.md
  docs/guides/build-multi-stage-injection.md
Owners: @lunar-horse-build-maintainers, @lunar-horse-docs-maintainers

refactor(build): reorganize configs to build/configs/ structure
  .nuke/build.schema.json
  Taskfile.yml
  build/.gitignore
  build/configs/README.md
  build/configs/preparation/DESIGN.md
  build/configs/preparation/README.md
  build/configs/preparation/injection.json
  build/configs/preparation/multi-stage-preparation.json
  build/configs/preparation/multi-stage-schema.json
  build/configs/preparation/preparation.json
  build/nuke/build/Build.Preparation.cs
  docs/_inbox/multi-stage-injection-implementation.md
Owners: @lunar-horse-build-maintainers, @lunar-horse-docs-maintainers

fix(build): restore legacy PrepareClient and fix build ordering
  build/nuke/build/Build.Preparation.cs
Owners: @lunar-horse-build-maintainers

feat(build): add Python Unity log parser with comprehensive analysis
  Taskfile.yml
  build/nuke/scripts/README.md
  build/nuke/scripts/parse_unity_log.py
  docs/tools/unity-log-parser-summary.md
  docs/tools/unity-log-parser.md
Owners: @lunar-horse-build-maintainers, @lunar-horse-docs-maintainers

fix(build): configure multi-stage to remove duplicate MessagePack formatters
  build/configs/preparation/multi-stage-preparation.json
  docs/_inbox/messagepack-duplicate-formatters-fix.md
Owners: @lunar-horse-docs-maintainers

feat(build): implement v2.0 multi-stage schema support in Build.Tool
  build/configs/preparation/multi-stage-preparation.json
  build/configs/preparation/multi-stage-schema.json
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/CacheCommandHandler.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Models/MultiStageConfig.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/ConfigService.cs
Owners: none

feat(build): wire up multi-stage injection execution in Nuke workflow
  .nuke/build.schema.json
  build/nuke/build/Build.Preparation.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/CliHost.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/PrepareCommandHandler.cs
Owners: @lunar-horse-build-maintainers

refactor(build): execute v2.0 configs natively without downgrading to v1.0
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/PrepareCommandHandler.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Models/AssetManipulation.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/PreparationService.cs
Owners: none

docs(build): deprecate V1.0 config format in favor of V2.0 multi-stage
  build/configs/preparation/README.md
  build/nuke/build/Build.Preparation.cs
  docs/_inbox/v1-config-deprecation.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/PrepareCommandHandler.cs
Owners: @lunar-horse-build-maintainers, @lunar-horse-docs-maintainers

refactor: move multi-stage schema to centralized Schemas directory
  build/configs/preparation/multi-stage-preparation.json
  build/nuke/build/Schemas/multi-stage-preparation.schema.json
Owners: @lunar-horse-build-maintainers

feat: add complete packages and assemblies to multi-stage config
  build/configs/preparation/multi-stage-preparation.json
Owners: none

refactor: simplify assetManipulations to delete entire MessagePackGenerated folder
  build/configs/preparation/multi-stage-preparation.json
Owners: none

fix: correct com.cysharp.messagepipe package hash and remove duplicate .nuke directory
  build/configs/preparation/preparation.json
  build/nuke/.nuke/.gitignore
  build/nuke/.nuke/build.schema.json
  build/nuke/.nuke/parameters.json
Owners: @lunar-horse-build-maintainers

refactor: separate preparation and injection configs with clear naming
  build/configs/preparation/README.md
  build/configs/preparation/multi-stage-injection.json
  build/nuke/build/Build.Preparation.cs
  build/nuke/build/Schemas/multi-stage-injection.schema.json
Owners: @lunar-horse-build-maintainers

feat: create complete v2.0 multi-stage configs for both preparation and injection
  build/configs/preparation/multi-stage-injection.json
  build/configs/preparation/multi-stage-preparation.json
  build/nuke/build/Schemas/multi-stage-preparation.schema.json
Owners: @lunar-horse-build-maintainers
