Repository GiantCroissant-Lunar/sango-card, changes with the owners that CODEOWNERS names for each.
All owners: @lunar-horse-docs-maintainers, @lunar-horse-agent-maintainers, @lunar-horse-build-maintainers, @lunar-horse-security-team

CODEOWNERS:

# CODEOWNERS - Require review for sensitive changes
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Documentation system (R-DOC-xxx)
# All documentation changes require review to prevent sprawl
/docs/**                         @lunar-horse-docs-maintainers
/.agent/base/40-documentation.md @lunar-horse-docs-maintainers
/scripts/docs_validate.py        @lunar-horse-docs-maintainers
/.github/workflows/docs-guard.yml @lunar-horse-docs-maintainers

# Agent rules and configuration
# Changes to agent behavior require careful review
/.agent/base/                    @lunar-horse-agent-maintainers
/.agent/adapters/                @lunar-horse-agent-maintainers
/.specify/memory/constitution.md @lunar-horse-agent-maintainers

# Build system
# Build changes affect all developers
/build/nuke/                     @lunar-horse-build-maintainers
/Taskfile.yml                    @lunar-horse-build-maintainers
/.github/workflows/              @lunar-horse-build-maintainers

# Security and secrets
# Require security team review for sensitive configurations
/infra/terraform/                @lunar-horse-security-team
/.sops.yaml                      @lunar-horse-security-team
/.pre-commit-config.yaml         @lunar-horse-security-team

# Note: Teams above are examples. Replace with actual GitHub team names:
# @owner/docs-team
# @owner/security-team
# etc.

feat(build): Task 3.2 - Advanced CSharpPatcher with Roslyn operations
  .nuke/build.schema.json
  build/nuke/build/Components/IUnityBuild.cs
  docs/guides/documentation-enforcement.md
  docs/index/registry.json
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Models/CodePatch.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/CSharpPatcher.cs
Owners: @lunar-horse-build-maintainers, @lunar-horse-docs-maintainers

feat(build): Add Verify snapshot testing for CSharpPatcher
  build/nuke/build/Components/IUnityBuild.cs
  packages/scoped-2151/com.contractwork.sangocard.cross/Editor/Module/CompositionRoot.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/Directory.Packages.props
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/SangoCard.Build.Tool.Tests.csproj
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/IPatcher.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/PatcherBase.cs
Owners: @lunar-horse-build-maintainers

feat(build): Task 3.3 - Enhanced JsonPatcher with advanced operations
  packages/scoped-2151/com.contractwork.sangocard.cross/Editor/AssemblyAttributes.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/JsonPatcherTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/CSharpPatcher.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/JsonPatcher.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/PatcherBase.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/UnityAssetPatcher.cs
Owners: none

fix: Update test assertions to use PatchResult and PatchValidationResult
  .nuke/build.schema.json
  build/nuke/build/Components/IUnityBuild.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/PatcherTests.cs
Owners: @lunar-horse-build-maintainers

feat(build): Task 3.5 - Enhanced TextPatcher with comprehensive regex support
  build/nuke/build/Components/IUnityBuild.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/TextPatcherTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/TextPatcher.cs
Owners: @lunar-horse-build-maintainers

feat(build): Task 3.4 - Enhanced UnityAssetPatcher with YAML support
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/UnityAssetPatcherTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/UnityAssetPatcher.cs
Owners: none

chore(config): fix line endings and exclude generated files
  .gitattributes
  .markdownlintignore
  .pre-commit-config.yaml
  .secrets.baseline
Owners: @lunar-horse-security-team

chore(docs): remove obsolete design documents
  docs/_inbox/.gitkeep
  packages/scoped-6571/com.contractwork.sangocard.build/TOOL-DESIGN-V2.md
  packages/scoped-6571/com.contractwork.sangocard.build/TOOL-DESIGN-V3.md
  packages/scoped-6571/com.contractwork.sangocard.build/TOOL-DESIGN.md
Owners: @lunar-horse-docs-maintainers

docs(spec): add coordination and completion status documents
  .markdownlintignore
  .specify/BOTH-AGENTS-COMPLETE.md
  .specify/COORDINATION-STATUS.md
  .specify/DECISION-NEEDED.md
  .specify/FINAL-TASK-REVIEW.md
  .specify/HANDOVER.md
  .specify/IMPLEMENTATION-COMPLETE.md
  .specify/READY-FOR-TESTING.md
  .specify/SPEC-KIT-COMPLETION.md
  .specify/WAVE-10-11-COMPLETE.md
  .specify/specs/AMENDMENT-001-SUMMARY.md
  .specify/specs/build-preparation-tool-amendment-001.md
  .specify/specs/build-preparation-tool.md
  .specify/tasks/PROGRESS-SUMMARY.md
  .specify/tasks/TASK-4-1-COMPLETE.md
  .specify/tasks/TASK-4-2-COMPLETE.md
  .specify/tasks/TASK-4-3-COMPLETE.md
  .specify/tasks/TASK-5-1-COMPLETE.md
  .specify/tasks/build-preparation-tool-tasks-amendment-001.md
Owners: none

feat(build-tool): implement two-phase preparation workflow
  .markdownlintignore
  .pre-commit-config.yaml
  build/nuke/build/Build.Preparation.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/Directory.Packages.props
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/MIGRATION-GUIDE.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/README.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.ComplexScenario_MultipleOperations.verified.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.DryRun_PreviewGeneration.verified.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.FallbackToTextMode_NoOperation.verified.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.PreservesComments_WithRoslynOperations.verified.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.PreservesIndentation_NestedBlocks.verified.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.RemoveBlock_EntireMethod.verified.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.RemoveUsing_MultipleUsings.verified.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.RemoveUsing_SingleUsing.verified.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.ReplaceBlock_MethodBody.verified.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.ReplaceExpression_MethodInvocation.verified.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.ReplaceExpression_SimpleIdentifier.verified.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/CliHost.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/CacheCommandHandler.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/ConfigCommandHandler.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/PrepareCommandHandler.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/PreparationService.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/HostBuilderExtensions.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Messages/PreparationMessages.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Program.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Tui/TuiHost.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Tui/Views/CacheManagementView.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Tui/Views/ConfigEditorView.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Tui/Views/PreparationExecutionView.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Tui/Views/ValidationView.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/TERMINAL_GUI_V2_MIGRATION.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/TUI_MANUAL_TESTING_GUIDE.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/WAVE_8_COMPLETION.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/WAVE_9_COMPLETION.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/WAVE_9_TEST_PLAN.md
Owners: @lunar-horse-security-team, @lunar-horse-build-maintainers

fix: resolve pre-commit hook errors
  .pre-commit-config.yaml
  .specify/COORDINATION-STATUS.md
  fix-trailing-spaces.ps1
  scripts/docs_validate.py
  scripts/git-hooks/pre-commit.ps1
Owners: @lunar-horse-security-team, @lunar-horse-docs-maintainers

feat: add folder support for packages and assemblies
  .specify/FOLDER-SUPPORT-ENHANCEMENT.md
  docs/guides/build-preparation-workflow.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/PreparationService.cs
Owners: @lunar-horse-docs-maintainers

docs: reorganize build tool documentation
  docs/archive/build-tool-wave-8-completion.md
  docs/archive/build-tool-wave-9-completion.md
  docs/archive/build-tool-wave-9-test-plan.md
  docs/guides/build-artifact-structure.md
  docs/guides/build-tool-migration-guide.md
  docs/guides/build-tool-tui-testing-guide.md
  docs/guides/terminal-gui-v2-migration.md
Owners: @lunar-horse-docs-maintainers

chore: add utility scripts and inbox documentation
  docs/_inbox/2025-10-17-caveat-the-messages-below-were-generated-by-the-u-003.txt
  docs/_inbox/TOOL-DESIGN-V2.md
  docs/_inbox/TOOL-DESIGN-V3.md
  docs/_inbox/TOOL-DESIGN.md
  docs/_inbox/fix-docs-validate-infinite-loop.md
  docs/_inbox/scattered-build-tool-docs-plan.md
  docs/_inbox/scattered-docs-cleanup-summary.md
  docs/_inbox/task-lint-format-commands.md
  scripts/check-docs.ps1
  scripts/fix-duplicate-frontmatter.ps1
  scripts/move-build-tool-docs.ps1
Owners: @lunar-horse-docs-maintainers

chore: update gitattributes for line endings
  .gitattributes
Owners: none

fix: allow conventional commits without scope
  .pre-commit-config.yaml
Owners: @lunar-horse-security-team

docs: add build flow configuration handover document
  .specify/BUILD-FLOW-CONFIG-HANDOVER.md
Owners: none

feat(build): Fix Nuke build script and add Amendment 002 spec
  .nuke/build.schema.json
  .specify/AMENDMENT-002-SUMMARY.md
  .specify/specs/build-preparation-tool-amendment-002.md
  .specify/tasks/TASK-BLD-PREP-002.md
  build/nuke/build/Build.Preparation.cs
Owners: @lunar-horse-build-maintainers

refactor(specify): Organize .specify directory structure
  .specify/README.md
  .specify/status/COORDINATION-STATUS.md
  .specify/status/completions/BOTH-AGENTS-COMPLETE.md
  .specify/status/completions/FINAL-TASK-REVIEW.md
  .specify/status/completions/FOLDER-SUPPORT-ENHANCEMENT.md
  .specify/status/completions/IMPLEMENTATION-COMPLETE.md
  .specify/status/completions/READY-FOR-TESTING.md
  .specify/status/completions/SPEC-KIT-COMPLETION.md
  .specify/status/completions/WAVE-10-11-COMPLETE.md
  .specify/status/decisions/DECISION-NEEDED.md
  .specify/status/handovers/BUILD-FLOW-CONFIG-HANDOVER.md
  .specify/status/handovers/HANDOVER.md
  .specify/summaries/AMENDMENT-002-SUMMARY.md
Owners: none

refactor(specify): Unify file naming to kebab-case
  .specify/status/completions/both-agents-complete.md
  .specify/status/completions/final-task-review.md
  .specify/status/completions/folder-support-enhancement.md
  .specify/status/completions/implementation-complete.md
  .specify/status/completions/ready-for-testing.md
  .specify/status/completions/spec-kit-completion.md
  .specify/status/completions/wave-10-11-complete.md
  .specify/status/coordination-status.md
  .specify/status/decisions/decision-needed.md
  .specify/status/handovers/build-flow-config-handover.md
  .specify/status/handovers/handover.md
  .specify/summaries/amendment-001-summary.md
  .specify/summaries/amendment-002-summary.md
  .specify/tasks/progress-summary.md
  .specify/tasks/task-2-5-complete.md
  .specify/tasks/task-4-1-complete.md
  .specify/tasks/task-4-2-complete.md
  .specify/tasks/task-4-3-complete.md
  .specify/tasks/task-5-1-complete.md
  .specify/tasks/task-bld-prep-002.md
Owners: none

docs(specify): Add TASK-BLD-PREP-002 Wave 2 completion status
  .specify/status/completions/task-bld-prep-002-wave-2-complete.md
  .specify/status/task-bld-prep-002-status.md
Owners: none

docs(specify): Add TASK-BLD-PREP-002 Wave 2 completion status
  .specify/status/task-bld-prep-002-status.md
Owners: none

feat(build-tool): Complete Wave 3 Phase 3.1 - TUI core updates and config type selection
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/PROJECT_STATUS.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.ComplexScenario_MultipleOperations.received.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.DryRun_PreviewGeneration.received.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.FallbackToTextMode_NoOperation.received.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.PreservesComments_WithRoslynOperations.received.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.PreservesIndentation_NestedBlocks.received.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.RemoveBlock_EntireMethod.received.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.RemoveUsing_MultipleUsings.received.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.RemoveUsing_SingleUsing.received.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.ReplaceBlock_MethodBody.received.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.ReplaceExpression_MethodInvocation.received.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/CSharpPatcherSnapshotTests.ReplaceExpression_SimpleIdentifier.received.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Services/BatchManifestServiceTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Services/SourceManagementServiceTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/CliHost.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/ConfigCommandHandler.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Models/BatchManifest.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Models/PreparationManifest.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/BatchManifestService.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/SourceManagementService.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/HostBuilderExtensions.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Tui/TuiHost.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Tui/Views/ConfigTypeSelectionView.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Tui/Views/ManualSourcesView.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/TEST_SUMMARY.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/WAVE3_PHASE31_COMPLETION.md
Owners: none

feat(build-tool): Complete Wave 3 Phase 3.2a - Preparation Sources Management Screen
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/HostBuilderExtensions.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Tui/TuiHost.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Tui/Views/PreparationSourcesManagementView.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/WAVE3_PHASE32A_COMPLETION.md
Owners: none

docs(specify): Verify TASK-BLD-PREP-002 Phase 3.2a completion
  .specify/status/completions/task-bld-prep-002-phase-3-2a-verification.md
  .specify/status/task-bld-prep-002-status.md
Owners: none

feat(build-tool): Complete Wave 3 Phase 3.2b - Build Injections Management
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/HostBuilderExtensions.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Tui/TuiHost.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Tui/Views/BuildInjectionsManagementView.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/WAVE3_PHASE32B_COMPLETION.md
Owners: none

docs(specify): Complete TASK-BLD-PREP-002 Wave 3 Phase 3.2
  .specify/status/completions/task-bld-prep-002-wave-3-2-complete.md
  .specify/status/task-bld-prep-002-status.md
Owners: none

docs(specify): Add TASK-BLD-PREP-002 handover for build flow testing
  .specify/status/handovers/task-bld-prep-002-handover.md
Owners: none

feat(build-tool): Complete Wave 3 Phase 3.3 - Integration testing and polish
  docs/guides/build-tool-integration-test-plan.md
  docs/guides/build-tool-integration-testing-checklist.md
  docs/guides/wave-3.3-completion-summary.md
  test-integration/run-integration-tests.ps1
  test-integration/test-config-full.json
  test-integration/test-config-invalid.json
  test-integration/test-config-minimal.json
  test-integration/test-manifest-full.json
  test-integration/test-manifest-invalid.json
  test-integration/test-manifest-minimal.json
Owners: @lunar-horse-docs-maintainers

docs(build-tool): Complete Wave 4 - Comprehensive documentation
  .pre-commit-config.yaml
  docs/guides/build-tool-api-reference.md
  docs/guides/build-tool-quick-reference.md
  docs/guides/build-tool-user-guide.md
  docs/guides/wave-4-completion-summary.md
  packages/scoped-6571/com.contractwork.sangocard.build/README.md
  scripts/docs_validate.py
  scripts/git-hooks/python/README.md
  scripts/git-hooks/python/check_partial_class_pattern.py
  scripts/git-hooks/python/check_scattered_docs.py
  scripts/git-hooks/python/fix_trailing_spaces.py
Owners: @lunar-horse-security-team, @lunar-horse-docs-maintainers

docs: Add project completion summary - 100% COMPLETE! 🎉
  docs/guides/project-completion-summary.md
Owners: @lunar-horse-docs-maintainers

docs(agent): Update agent adapter configurations
  .pre-commit-config.yaml
Owners: @lunar-horse-security-team

docs: Update documentation structure and validation
  .specify/tasks/task-bld-prep-002.md
  docs/BUILD-REPORTING-HANDOVER.md
  docs/DOCUMENTATION-SCHEMA.md
  docs/_inbox/fix-docs-validate-infinite-loop.md
  docs/_inbox/scattered-docs-cleanup-summary.md
  docs/findings/nuke-api-compatibility.md
  docs/guides/coding-patterns.md
  docs/guides/documentation-enforcement.md
  docs/guides/documentation-migration-guide.md
  docs/guides/pre-commit.md
  docs/index/registry.json
Owners: @lunar-horse-docs-maintainers

refactor: Remove deprecated scripts and move to archive
  fix-trailing-spaces.ps1
  scripts/add-frontmatter.ps1
  scripts/add_frontmatter.py
  scripts/add_frontmatter_bulk.py
  scripts/check-docs.ps1
  scripts/create-github-issues.ps1
  scripts/docs_validate.py
  scripts/fix-duplicate-frontmatter.ps1
  scripts/generate-github-issues.ps1
  scripts/git-hooks/README.md
  scripts/git-hooks/check-scattered-docs.ps1
  scripts/git-hooks/pre-commit.ps1
  scripts/git-hooks/python/README.md
  scripts/git-hooks/python/check_partial_class_pattern.py
  scripts/git-hooks/python/check_scattered_docs.py
  scripts/git-hooks/python/fix_trailing_spaces.py
  scripts/migrate_terraform_docs.py
  scripts/move-build-tool-docs.ps1
Owners: @lunar-horse-docs-maintainers

feat: Add new GitHub scripts and git hooks
  .github/scripts/README.md
  .github/scripts/powershell/create-issues.ps1
  .github/scripts/powershell/generate-issues.ps1
  git-hooks/README.md
  git-hooks/powershell/check-docs.ps1
  git-hooks/python/README.md
  git-hooks/python/add_frontmatter.py
  git-hooks/python/add_frontmatter_bulk.py
  git-hooks/python/check_partial_class_pattern.py
  git-hooks/python/check_scattered_docs.py
  git-hooks/python/docs_validate.py
  git-hooks/python/fix_trailing_spaces.py
  scripts/archive/README.md
  scripts/archive/fix-duplicate-frontmatter.ps1
  scripts/archive/migrate_terraform_docs.py
  scripts/archive/move-build-tool-docs.ps1
Owners: none

ci: Update docs-guard workflow
  .github/workflows/docs-guard.yml
Owners: @lunar-horse-build-maintainers

feat(build-tool): Add dry-run mode and improve patchers
  packages/scoped-6571/com.contractwork.sangocard.build/Editor/Core/Report/PostprocessBuildWithReport.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/RUN-DRY-RUN-TESTS.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Cli/Commands/ConfigCommandHandlerDryRunTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Cli/Commands/Snapshots/AddSourceAsync_DryRun_Output.verified.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/TextPatcherTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/UnityAssetPatcherTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Services/ConfigServiceTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Services/SourceManagementServiceDryRunTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/DRY-RUN-TESTS-SUMMARY.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/ConfigCommandHandler.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/CSharpPatcher.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/JsonPatcher.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/ConfigService.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/SourceManagementService.cs
Owners: none

feat(packages): Add build reporting and update cross package
  packages/scoped-2151/com.contractwork.sangocard.cross/Editor/AssemblyAttributes.cs
  packages/scoped-2151/com.contractwork.sangocard.cross/Editor/AssemblyAttributes.cs.meta
  packages/scoped-2151/com.contractwork.sangocard.cross/Editor/Module/CompositionRoot.cs.meta
  packages/scoped-2151/com.contractwork.sangocard.cross/Editor/Report/SangoCard.Cross.Report.Editor.asmdef
  packages/scoped-2151/com.contractwork.sangocard.cross/Editor/Report/csc.rsp
  packages/scoped-3208/com.contractwork.sangocard.game/Runtime/Report/ReportModels.cs
  packages/scoped-3208/com.contractwork.sangocard.game/Runtime/Report/SangoReportRuntime.cs
  packages/scoped-3208/com.contractwork.sangocard.game/Runtime/SangoCard.Game.asmdef
  packages/scoped-3208/com.contractwork.sangocard.game/package.json
Owners: none

docs(spec): Add dry-run implementation and verification docs
  .specify/DRY-RUN-IMPLEMENTATION.md
  .specify/DRY-RUN-VERIFICATION.md
Owners: none

chore(build): Update build schemas and version configuration
  .nuke/build.schema.json
  GitVersion.yml
  build/nuke/.nuke/build.schema.json
Owners: @lunar-horse-build-maintainers
