Repository GiantCroissant-Lunar/sango-card, changes with the owners that CODEOWNERS names for each.
All owners: @lunar-horse-docs-maintainers, @lunar-horse-agent-maintainers, @lunar-horse-build-maintainers, @lunar-horse-security-team

docs: add architecture documentation and remove v1.0 configs
  build/configs/preparation/README.md
  build/configs/preparation/injection.json
  build/configs/preparation/preparation.json
  build/nuke/build/Build.Preparation.cs
  build/nuke/build/Schemas/injection.schema.json
  build/nuke/build/Schemas/preparation.schema.json
  docs/_inbox/build-config-architecture.md
Owners: @lunar-horse-build-maintainers, @lunar-horse-docs-maintainers

docs: organize scattered documentation files
  docs/_inbox/2025-10-17-caveat-the-messages-below-were-generated-by-the-u-003.txt
  docs/archive/TOOL-DESIGN-V2-consolidated.md
  docs/archive/TOOL-DESIGN-V3-consolidated.md
  docs/archive/TOOL-DESIGN-consolidated.md
  docs/archive/scattered-build-tool-docs-plan.md
  docs/archive/scattered-docs-cleanup-summary.md
  docs/archive/v1-config-deprecation.md
  docs/findings/dotnet-rename-summary.md
  docs/findings/fix-docs-validate-infinite-loop.md
  docs/findings/messagepack-duplicate-formatters-fix.md
  docs/findings/nuke-failure-handling.md
  docs/guides/injection-implementation-summary.md
  docs/guides/multi-stage-injection-implementation.md
  docs/guides/report-build-component.md
  docs/guides/report-location.md
  docs/guides/report-project-summary.md
  docs/guides/report-usage-examples.md
  docs/guides/task-lint-format-commands.md
  docs/specs/build-config-architecture.md
  docs/specs/multi-stage-injection-design.md
Owners: @lunar-horse-docs-maintainers

feat(build): comprehensive build system optimization
  .node-options
  Taskfile.yml
  build/configs/preparation/multi-stage-injection.json
  build/configs/preparation/multi-stage-preparation.json
  build/nuke/build/Build.Preparation.cs
  docs/_inbox/build-cache-cleanup-summary.md
  docs/_inbox/build-cache-optimization-notes.md
  docs/build-system-optimization-summary.md
  docs/build-tool-nuke-migration.md
  docs/build-tool-optimization.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/SangoCard.Build.Tool.csproj
  scripts/cleanup-preparation-cache.ps1
  scripts/verify-preparation-cache.ps1
Owners: @lunar-horse-build-maintainers, @lunar-horse-docs-maintainers

feat(code-quality): add one-type-per-file enforcement tooling
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
  README.md
  Taskfile.yml
  packages/scoped-6571/com.contractwork.sangocard.build/Tools/README.md
  projects/code-quality/README.md
  projects/code-quality/code-quality.sln.DotSettings
  scripts/find_multiple_types.py
Owners: @lunar-horse-security-team, @lunar-horse-build-maintainers

refactor: move agent configuration files to .agent/ directory
  .agent/AGENTS.md
  .agent/CLAUDE.md
Owners: none

docs: update references to moved agent configuration files
  .agent/AGENTS.md
  .agent/README.md
  docs/guides/documentation-enforcement.md
Owners: @lunar-horse-docs-maintainers

docs: organize root-level documentation files
  docs/archive/refactoring-summary.txt
  docs/archive/v2-config-summary.txt
  docs/guides/troubleshooting/nodejs-memory-fix.md
Owners: @lunar-horse-docs-maintainers

chore: add utility files for Node.js memory testing and C# config
  .nuke/build.schema.json
  .vscode/settings.json
  Taskfile.yml
  build/configs/preparation/multi-stage-injection.json
  build/configs/preparation/multi-stage-preparation.json
  build/nuke/build.ps1
  build/nuke/build/Components/IReportBuild.cs
  build/nuke/build/Components/IUnityBuild.cs
  packages/scoped-3208/com.contractwork.sangocard.game/Runtime/csc.rsp
  scripts/test-node-memory.ps1
Owners: @lunar-horse-build-maintainers

CODEOWNERS:

# CODEOWNERS - Require review for sensitive changes
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Documentation system (R-DOC-xxx)
# All documentation changes require review to prevent sprawl
/docs/**                         @lunar-horse-docs-maintainers
/.agent/base/40-documentation.md @lunar-horse-docs-maintainers
/scripts/docs_validate.py        @lunar-horse-docs-maintainers
/.github/workflows/docs-guard.yml @lunar-horse-docs-maintainers

# Agent rules and configuration
# Changes to agent behavior require careful review
/.agent/base/                    @lunar-horse-agent-maintainers
/.agent/adapters/                @lunar-horse-agent-maintainers
/.specify/memory/constitution.md @lunar-horse-agent-maintainers

# Build system
# Build changes affect all developers
/build/nuke/                     @lunar-horse-build-maintainers
/Taskfile.yml                    @lunar-horse-build-maintainers
/.github/workflows/              @lunar-horse-build-maintainers

# Security and secrets
# Require security team review for sensitive configurations
/infra/terraform/                @lunar-horse-security-team
/.sops.yaml                      @lunar-horse-security-team
/.pre-commit-config.yaml         @lunar-horse-security-team

# Note: Teams above are examples. Replace with actual GitHub team names:
# @owner/docs-team
# @owner/security-team
# etc.
